.introducao {
  max-width: 75rem;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  align-items: center;
}

.introducao h1 {
  position: relative;
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.875rem;
}

.introducao h1::before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background: url("../img/detalhe.svg") no-repeat center;
  top: -1rem;
  left: -2.5rem;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
  line-height: 1.812rem;
}
@media (max-width: 1000px) {
  .introducao{
    grid-template-columns: 1fr 1fr;
  }
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    width: 5rem;
    height: 1rem;
    left: -0.5rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    /* grid-template-columns: 1fr; */
    gap: 3rem;
  }

  .introducao h1{
    font-size: 2rem;
  }
  .introducao p{
    font-size: 1.5rem;
  }
}

@media (max-width: 470px) {
  .introducao{
    grid-template-columns: 1fr
  }
  .introducao img {
     display:none;
  }
  .introducao h1::before{
    width:5.75rem;
    height: 0.85rem;
  }
}
